<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="css/main_stylesheet.css" type="text/css">
    </head>
    <body>
        <h1>{{Recipe}} Nutrition Facts</h1>
        <ul>
            <li>Calories: {{calories}}</li>
            <li>Fat: {{fat_g}}</li>
            <li>Sodium: {{sodium_mg}}</li>
            <li>Sugar: {{sugar_g}}</li>
            <li>Protein: {{protein_g}}</li>
            <li>Vitamin A: {{vitaminA_pdv}}</li>
            <li>Vitamin C: {{vitaminC_pdv}}</li>
        </ul>
        <a href="index.html" class="link">Back to Home Page</a>
    </body>
</html>
