<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Create Account</title>
        <link rel="stylesheet" href="css/main_stylesheet.css" type="text/css">
    </head>
    <body>
        <h1 class="title">Create Account<h1>
        <form>
            <span class="label">First Name:</span class="label">
            <input type="text" name="first_name" value={{first_name}}><br>
            <span class="label">Last Name:</span class="label">
            <input type="text" name="last_name" value={{last_name}}><br>
            <span class="label">User Name:</span class="label">
            <input type="text" name="user_name" value={{user_name}}><br>
            <span class="label">Password:</span class="label">
            <input type="password" name="password" value={{user_password}}><br>
            <span class="label">e-mail:</span class="label">
            <input type="text" name="email" value={{email}}><br>
            <span class="label">Cooking Experience:</span class="label">
            <input type="text" name="cooking_experience" value="cooking_experience"<br>
            <input type="submit"><a class="link" href="account.handlebars">link to account<a>
            <br>
        </form>
        <a href="account.handlebars" class="link">back to My Account<a>
        <br>
        <a href="index.html" class="link">home page</a>
    </body>
</html>
